<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="接口自动化">

    <test name="PostApiTest">
        <classes>
            <class name="com.qa.tests.PostApiTest">
                <methods>
                    <include name="postApiTest" description = "test01"/>
                </methods>
            </class>
            <class name="com.qa.tests.GetApiTest">
                <methods>
                    <include name="getApiTest" description="test02"/>
                </methods>
            </class>
        </classes>
    </test>
    <listeners>
        <!--<listener class-name="org.uncommons.reportng.HTMLReporter"/>-->
        <!--<listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>-->
    </listeners>
</suite>

